.poem {
  align-self: center;

  margin: auto;
  border: 3px solid;
  border-color: black;
  transition: 2s all ease-in-out;
  animation: yes;
  height: fit-content;
  width: 65vw;
  opacity: 0.66;
  background: linear-gradient(145deg, #f0f0f0, #cacaca);
  transform: translateY(-300%);
}
.poem.show {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /* background:#f00; /* Uncomment to see the affected area */
  transform: translateY(60%);
}
.poem-p {
  line-height: 26px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  hyphens: auto;
  color: black;
  font-size: 20pt;
  font-style: italic;
  font-family: cursive;
}
.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.title {
  font-size: 26pt;
  font-weight: bold;
}
.author {
}
@keyframes yes {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(60%);
  }
}
